{% extends 'base.html.twig' %}  {# heritage #} 

{% block Contenu %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">Stages</th>
        <th scope="col">Titre</th>
        <th scope="col">Entreprise</th>
        <th scope="col">Formations Acceptées</th>
        <th scope="col">Plus d'informations</th>
        </tr>
    </thead>
    {% for stage in stages %}
        <tbody>
            <tr>
                <th scope="row">{{stage.id}}</th>
                <td>{{stage.titre}}</td>
                <td>{{stage.codeEntreprise.nom}}</td>
                <td>/{% for formation in stage.codeFormation %}
                {{formation.nomCourt}}/
                {% endfor %}            
                </td>
                <td><a class="stage" href="{{path('afficherStage',{id:stage.id})}}">Voir</a></td>
            </tr>
        </tbody>
    {% endfor %}

</table>


{% endblock %}