{% extends 'base.html.twig' %}
{% block Contenu %}


<div class="row-fluid-formulaire">
</br><strong>
{% if action == "ajouter" %}
Ajout : Saisisser les caractéristique de l'entreprise
{% else %}
Modification : Saisisser les caractéristique de l'entreprise
{% endif %}


</strong></br>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
        <div class="col-md-8">
            {{form_start(formulaire)}}

            <dt><br>
            {{form_row(formulaire.titre)}}
            </dt>
            <dt><br>
            {{form_row(formulaire.missions)}}
            </dt>
            <dt><br>
            {{form_row(formulaire.contact)}}
            </dt>
            <dt><br>
            <center>Information sur l'entreprise proposant le stage</center>
            <br>
            {{form_row(formulaire.codeEntreprise.nom)}}
            </dt>
            <dt><br>
            {{form_row(formulaire.codeEntreprise.adresse)}}
            </dt>
            <dt><br>
            {{form_row(formulaire.codeEntreprise.activite)}}
            </dt>
            <dt><br>
            {{form_row(formulaire.codeEntreprise.urlSite)}}
            </dt>
            <dt><br>
            {{form_row(formulaire.codeFormation)}}
            </dt>

            <center>
            <input type="submit" class="btn btn-dark" value="Enregistrer"/><br>
            </center>
             {{form_end(formulaire)}}

        <div>
    <div class="col-md-2">
    </div>
</div></br>
<div class="row-fluid-formulaire">
    
   
</br></br>
</div>
{% endblock %}