{% extends 'base.html.twig' %}
{% block Contenu %}


<div class="row-fluid-formulaire">
</br><strong>
{% if action == "ajouter" %}
Ajout : Saisisser les caractéristique de l'entreprise
{% else %}
Modification : Saisisser les caractéristique de l'entreprise
{% endif %}


</strong></br>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
        <div class="col-md-8">
            {{form_start(formulaire)}}

            <dt><br>
            {{form_row(formulaire.nom)}}
            </dt>
            <dt><br>
            {{form_row(formulaire.adresse)}}
            </dt>
            <dt><br>
            {{form_row(formulaire.activite)}}
            </dt>
            <dt><br>
            {{form_row(formulaire.urlSite)}}
            </dt>
            
           
            <center>
            <input type="submit" class="btn btn-dark" value="Enregistrer"/><br>
            </center>
             {{form_end(formulaire)}}
            

        <div>
    <div class="col-md-2">
    </div>
</div></br>
<div class="row-fluid-formulaire">

</br></br>
</div>
{% endblock %}